body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'my font';
    src: url(../fonts/S6uyw4BMUTPHjx4wXg.woff2);
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_img{
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat: no-repeat ; 
    width: 20%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_items>ul{
    display: flex;
    gap: 70px;
}
.list_items>ul>li{
    list-style: none;
    font-size: 19px;
    font-family: 'my font';
}
.bg{
    background-image: url(../image/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 19px;
}
.left h2{
    font-family: 'my font';
    color: white;
    font-size: 3.6rem;
}
.left p{
    color: white;
    font-size: 18px;
    font-family: 'my font';
}
.right{
    padding: 15px 40px;
    background-color: white;
    width: 50%;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
 }
.items{
    padding: 10px 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
input,select{
    outline: none;
    border: 1px solid black;
    padding: 10px 0 20px 9px;
    margin-top: 10px;
    text-align: left;
}
label{
    color: #555;
    font-weight: bold;
    font-family: 'my font';
}
button{
    border: none;
    padding: 10px 30px;
    width: 100%;
    background-color: rgb(8, 223, 8);
    color: white;
    font-family: 'my font';
    font-size: 24px;
    cursor: pointer;
}
p{
    color: red;
    margin-top: 2;
    margin-bottom: 4px;
    font-size: 10px;
}